<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">Contact</a>
    </nav>
</header>
<main>
    <h1>Contact Information</h1>
    <p>
        Below is information to reach me,
        feel free to reach out with any questions you may have!
    </p>
    <p>
        Click this link for email.
        <a href="nick.doutrich@gmail.com">Email Me!</a>
    </p>
    <p>
        Cell phone number:
        405-365-9480
    </p>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
